* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
}


.container {
    max-width: 100%;
    margin-inline: auto;
    padding-inline: 20px;
    overflow: hidden;
}

.flex {
    display: flex;
    align-items: center;
}


/* Navbar */
ul {
    list-style: none;
    display: flex;
    gap: 24px;
    align-items: center;
    margin-right: 16px;
}

ul a {
    text-decoration: none;
    padding: 4px 8px;
    color: black;
}

ul a:hover {
    background-color: #3b82f6;
    border-radius: 4px;
    color: white;
}

.nav-main {
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #cdf4fe;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
    padding: 8px;
    margin-left: 16px;
    transition: transform 1s;

}

.logo a {
    text-decoration: none;
    color: black;
}

.logo:hover {
    transform: translateX(35%);
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: black;
}


/* Hero */


.hero {
    height: 100vh;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
    background: url(./assets/asset\ 26.png);
    background-position: center;
    background-size: cover;
    padding: 76px;
}

.hero-left span {
    font-size: 1rem;
}

.hero-left h1 {
    font-size: 5rem;
}

.hero-left h4 {
    font-size: 3rem;
    color: #3b82f6;
    margin-bottom: 8px;
}

.hero-left p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.hero-left a {
    text-decoration: none;
    margin: 3px;
}

.hero-left a :hover {
    transform: scale(1.2);
}

.resume {
    color: black;
    padding: 8px 54px;
    border: 1px solid #3b82f6;
    border-radius: 8px;
    background-color: #0bc5ea;
}

.resume:hover {
    text-decoration: underline;
    background-color: #cdf4fe;
}

.typed {
    overflow: hidden;
    white-space: nowrap;
    border-right: 4px solid;
    width: 0;
    animation: typing 1.5s steps(30, end) forwards, blinking 1s infinite;
}

.hero-right img {
    width: 500px;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes blinking {

    0% {
        border-right-color: transparent
    }

    50% {
        border-right-color: #3b82f6
    }

    100% {
        border-right-color: transparent
    }
}


/* About */
.about {
    justify-content: center;
    flex-wrap: wrap-reverse;
    gap: 100px;
    margin: 40px;
}

.about-left {
    width: 500px;
}

.about-left h3 {
    font-size: 3rem;
    margin-bottom: 30px;
}

.about-left h3 span {
    border-bottom: 5px solid #3b82f6;
}

.about-left p {
    line-height: 1.8rem;
    color: #6b7280;
}

.about-right img {
    width: 200px;
}

/* Skills */

.skills {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}

.skills h3 {
    font-size: 3rem;
    margin-bottom: 30px;
}

.skills h3 span {
    border-bottom: 5px solid #3b82f6;
}

.content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 80%;
    /* padding: 20px; */
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.skill-container {
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    margin: 40px;
}

/* Project */

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}

.project h3 {
    font-size: 3rem;
    margin-bottom: 30px;
}

.project h3 span {
    border-bottom: 5px solid #3b82f6;
}

.project-container {
    display: flex;
    margin: 40px;
}

.project-row {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin: 20px;
}

.project-info {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 8px;
    padding-bottom: 20px;
}

.project-info p {
    letter-spacing: 0.1rem;
}

.project-info:hover {
    transform: scale(1.09);
}

.project-image img {
    max-width: 100%;
    height: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding-bottom: 8px;

}

.project-info h4 {
    font-size: 1.5rem;
    padding-left: 20px;
    padding-bottom: 10px;
}

.project-info p {
    padding-left: 20px;
    margin-bottom: 20px;
}

.project-info a {
    margin-left: 20px;
    color: black;
    padding: 8px 16px;
    border-radius: 8px;
    text-decoration: none;
}

.project-info a:hover {
    background-color: #3b82f6;
    color: white;
}

/* Contact */

.contact {
    background-color: #CDF4FE;
    padding: 20px;
    flex-wrap: wrap;
}

.contact h3 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 30px;
}

.contact h3 span {
    border-bottom: 5px solid #3b82f6;
}

.contact-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
}

.contact-left {
    margin: 20px 0;
}

.contact-left p {
    margin: 10px 0;
}

.contact-left h4 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.contact-left p label {
    display: block;
}

.contact-left p input {
    width: 100%;
    padding: 10px;
    margin-top: 4px;
    border: 2px solid #ccc;
    border-radius: 4px;
}

.contact-left p textarea {
    width: 100%;
    padding: 10px;
    margin-top: 4px;
    border: 2px solid #ccc;
    border-radius: 4px;
}

.contact-left p input[type="submit"] {
    background-color: #3b82f6;
    color: white;
    border: none;
    cursor: pointer;
}

.contact-left p input[type="submit"]:hover {
    background-color: #15527a;
}

.image {
    margin: 60px 0;
}

.contact-right {
    margin: 40px 0;
}

.contact-right h4 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.svg-labels {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.contact-content {
    display: flex;
    align-items: center;
    gap: 10px;
}

.svg-labels a {
    color: black;
    text-decoration: none;
}

.svg-labels a:hover {
    transform: scale(1.2);
    color: #3b82f6;
}


/* Media queries for responsiveness */

@media screen and (max-width:991px) {
    .hamburger {
        display: block;
        margin-right: 20px;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-links {
        position: fixed;
        right: -100%;
        top: 60px;
        gap: 0;
        display: flex;
        flex-direction: column;
        background-color: #cdf4fe;
        width: 15%;
        text-align: center;
        border-radius: 8px;
        padding: 5px;
        transition: 0.5s;
    }

    .nav-links li {
        padding: 8px;
    }

    .nav-links.active {
        right: 0;
    }
}



@media screen and (max-width: 767px) {
    .hero {
        flex-direction: column;
        align-items: flex-start;
        padding-left: 20px;
    }

    .hero-left {
        padding-left: 0;
        margin: 0;
    }

    .hero-right {
        display: none;
    }

    .project-container {
        flex-wrap: wrap;
    }

    .contact-container {
        flex-direction: column;
        gap: 10px;
    }

    .image {
        display: none;
    }

    .contact-right {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .svg-labels {
        flex-direction: row;
    }

}

@media screen and (max-width: 479px) {
    .typed {
        white-space: normal;
        overflow: visible;
        border-right: none;
        width: auto;
        animation: none;
    }

    .about-left h3 {
        font-size: 2.5rem;
    }

    .about-right img {
        width: 180px;
    }

    .skills h3 {
        font-size: 2.5rem;
    }

    .skill-container {
        width: 80px;
        gap: 5px;
    }

    .project h3 {
        font-size: 2.5rem;
    }

    .project-info {
        width: 260px;
    }

    .contact h3 {
        font-size: 2.5rem;
    }

    .contact-left h4 {
        font-size: 2rem;
    }

    .contact-left {
        width: 100%;
    }

    .contact-right h4 {
        font-size: 2rem;
    }

    .contact-content {
        gap: 5px;
    }

    .contact-right {
        width: 100%;
    }
}